main{
    background-color: $branco;
}
a, a:hover, a:active, a:focus, a:not(.md-button):hover,a:not(.md-button):active, a:not(.md-button):focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    @include d(s){
        font-size: 14px;
    }
    @include d(xs){
        font-size: 14px;
    }
}
.opacidade{
    opacity: 0;
}
.b-shadow{
    box-shadow: 0px 3px 8px rgba(0,0,0,.15);
}
.hybear{
    text-align: center;
    display: block;
    font-family: 'Kaushuan', cursive;
    font-size: 26px;
    letter-spacing: 1px;
    color: #919191;
    width: 100px;
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 40px;
    @include d(xs){
        display: none;
    }
    &:before{
        content: 'Desenvolvido Por';
        position: absolute;
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 0.5em;
        margin-top: -14px;
        text-align: center;
        left: 0;
        right: 0;
        width: 120px;
    }
    &:after{
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        margin: 0 auto;
        left: 15px;
        right: 0;
        background-image: url("/assets/img/SLASH-DARK.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        opacity: 0;
        z-index: -2;
        transition: all .5s;
    }
    &:hover{
        color: #fe7a3f;
        &:after{
            opacity: 1;
        }
    }
    &:hover span:before, &:hover span:after {
        background-color: #fe7a3f;
    }
}
.hybear span{
    display: inline-block;
    position: relative;
    z-index: 1;  
    transition: all .5s;
    &::before, &::after{
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 2px;
        background-color: #919191;
        margin: 0 auto;
        top: 17px;
        }
    &::before{
        right: 100%;
        margin-right: 10px;
    }
    &::after{
        left: 100%;
        margin-left: 10px;
    }
}

// .close{
//     display: block;
//     width: 50px;
//     height: 50px;
//     position: fixed;
//     z-index: -1000;
//     opacity: 0;
//     top: 20px;
//     right: 20px;
//     background-image: url(img/close.png);
//     background-position: center;
//     background-size: 50%;
//     background-repeat: no-repeat;
//     cursor: pointer;
//     background-color: $vermelho;
//     border-radius: 100%;
//     transition: transform .5s;
//     &:hover{
//         transform: scale(1.1) rotate(360deg);
//     }
// }
::-webkit-input-placeholder {
font-weight: normal;
color: #fff;
padding-left: 5px;
}
a{
    color: $secundaria !important;
}
:-moz-placeholder {
/* Firefox 18- */
font-weight: normal;
color: #fff;
padding-left: 5px;
}

::-moz-placeholder {
/* Firefox 19+ */
font-weight: normal;
color: #fff;
padding-left: 5px;
}

:-ms-input-placeholder {
font-weight: normal;
color: #fff;
padding-left: 5px;
}
footer .hybear{
    right: 50px;
    bottom: 10px;
    left: auto;
    z-index: 10;
}

input:focus, input:active, input:visited,textarea:focus, textarea:active, textarea:visited{
    outline: none;
}

.height-100pc{
    height: 100%;
    overflow: auto;
}
.height-100vh{
    height: 100vh;
    overflow: auto;
    min-height: inherit;
    @include d(m){
        height: auto;
    }
    @include d(s){
        height: auto;
    }
    @include d(xs){
        height: auto;
    }
}
.overflow-hidden{ 
    overflow: hidden;
}
.inline-item{
    display: inline-flex;
    margin-right: 20px;
}
.block{
    display: block;
}
.hidden{
    display: none;
}
.md-icon{
    font-size: 14px !important;
    height: 14px;
    min-width: 14px;
    width: 14px;
}
sup{
    line-height: 2em;
}
.md-radio .md-radio-label{
    height: initial;
}
.md-layout .md-layout{
    @include d(s){
        padding: 10px;
    }
    @include d(xs){
        padding: 10px;
    }
}
.md-field.md-theme-default.md-focused label.secundaria{
    color: $secundaria !important;
}
.md-field.md-theme-default.md-focused.secundaria:before{
    background-color: $secundaria !important;
}
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
  }
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active em versões anteriores a 2.1.8 */ {
opacity: 0;
}
.md-field.md-theme-default.md-focused .md-input, .md-field.md-theme-default.md-focused .md-textarea, .md-field.md-theme-default.md-has-value .md-input, .md-field.md-theme-default.md-has-value .md-textarea{
    -webkit-text-fill-color: $primaria !important;
}
.nav-link{
  border-radius: .25rem;
}
.visible{
    display: block;
    opacity: 1;
}