$branco: #fefefe;
$cinza: #ABABAB;
$verde: #79D4A8;
$primaria: #293A73;
$primaria-alt: #6D81C7;
// $secundaria: #ED6257;
$secundaria: #D23438;

$success: $verde;
$error: $secundaria;

.primaria-bg{
	background-color: $primaria !important;
}
.primaria-txt{
	color: $primaria !important;
}
.primaria-txt-alt{
	color: $primaria-alt !important;
}
.secundaria-bg{
	background-color: $secundaria !important;
}
.secundaria-txt{
	color: $secundaria !important;
}
.verde-txt{
	color: $verde !important;
}
.verde-bg{
	background-color: $verde !important;
}
.md-card.md-theme-default{
	background-color: $branco !important;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.snackbar{
	text-align: center;
}
.error{
	background-color: $error !important;
	color: $branco !important;
}
.success{
	background-color: $success !important;
	color: $branco !important;
}
@font-face {
    font-family: Museo;
	src: url("//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons");
}
@mixin sans($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}
@mixin serif($size: false, $colour: false, $weight: false,  $lh: false) {
    font-family: 'Karma', 'Roboto';
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}
//GRID
$l-device: 1920px;
$m-b-device: 1280px;
$m-device: 960px;
$s-device: 600px;
$mobile: 400px;
// Mixin de media-queries
@mixin d($size) {
	@if $size == l {
		@media only screen and (min-width: #{$l-device}) {
			@content;
		}
	}
    @else if $size == mb {
		@media only screen and (min-width: #{$m-b-device}) and (max-width: #{$l-device} - 1) {
			@content;
		}
	}
	@else if $size == m {
		@media only screen and (min-width: #{$m-device}) and (max-width: #{$m-b-device} - 1) {
			@content;
		}
	}
	@else if $size == s {
		@media only screen and (min-width: #{$s-device}) and (max-width: #{$m-device} - 1) {
			@content;
		}
	}
    @else if $size == xs {
		@media only screen and (max-width: #{$s-device}) {
			@content;
		}
	}
    @else if $size == mobile {
		@media only screen and (max-width: #{$mobile}) {
			@content;
		}
	}
}
@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default", (
  primary: $primaria, // The primary color of your brand
  accent: $secundaria // The secondary color of your brand
));
@import "~vue-material/dist/theme/all"; // Apply the theme