<template>
    <div class="">
        <div class="height-100vh apascentai-background">
            <img src="../assets/img/Logo.svg" alt="" class="apascentai-logo">
        </div>
    </div>
</template>
<style lang="scss">
.apascentai-background{
    // background-image: url("../assets/img/bg-apascentai.png");
    // background-repeat: no-repeat;
    // background-position: top;
    // background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secundaria;
    @include d(s){
      height: 50vw !important;
      margin-top: 80px;
    }
    @include d(xs){
      height: 50vw !important;
      margin-top: 80px;
    }
}
.apascentai-logo{
    object-fit: contain;
    object-position: center;
    display: block;
    width: 70%;
}
</style>
