<template>
    <div class="cadastro">
    <form @submit.prevent="validateUser" class="md-layout md-size-100 height-100vh ScrollNav">
    <Header/>
      <md-card class="md-layout-item md-large-size-95 md-size-95 md-small-size-100 plancard iniciocard">
        <img class="md-layout-item md-size-50 md-small-hide" src="../assets/img/webdevices-b.svg" alt="Leve para onde for seu Apascentai Digital.">
        <div class="titulo-apascentai primaria-txt">Leve seu Devocional Apascentai com você.</div>
        <div class="texto-apascentai">O Manual Apascentai o Pequeno Rebanho alimenta as pregações e vida devocional de milhares de pessoas no Brasil e fornece subsideos para as reuniões de Grupos Pequenos, no modelo GEMES, para as 53 semanas propostas.</div>
        <md-card-header>
          <div class="subtitulo-apascentai primaria-txt bold">Adquira já seu Apascentai Digital </div>
        </md-card-header>
        <md-card-content class="md-layout-item md-size-100 ">
            <md-radio v-model="radio" :class="{ hidden: !isHidden }" @change="switchplan" value="Inicial" class="md-body-2 radiotxt">1 ano de assinatura digital - <span><sup>R$</sup>29,90</span></md-radio>
            <md-radio v-model="radio" :class="{ hidden: !isHidden }" @change="switchplan" value="Standard" class="md-body-2 plano-recomendado radiotxt">Livro Impresso + 1 ano de  assinatura Digital - <span><sup>R$</sup>49,90</span></md-radio>
            <md-radio v-model="radio" :class="{ hidden: !isHidden }" @change="switchplan" value="Premium" class="md-body-2 radiotxt">Livro Impresso + 2 anos de  assinatura Digital - <span><sup>R$</sup>69,90</span></md-radio>
          <div :class="[getValidationClass('email'), { hidden: !isHidden }]">
            <md-field class="md-layout-item md-size-50 form_part_1">
              <label for="email">E-mail</label>
              <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" md-clearable/>
              <span class="md-helper-text">Ex.: joao@gmail.com</span>
              <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span> 
              <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
            </md-field>
            <!-- <div class="md-layout-item md-size-100"> -->
            <md-field class="md-layout-item md-size-50 md-small-size-90">
                <label>Senha</label>
                <md-input name="password" id="password" v-model="form.password" type="password" autocomplete="current-password"></md-input>
                <span class="md-helper-text">Dica: Sua senha é pessoal, jamais compartilhe ela.</span>
                <span class="md-error" v-if="!$v.form.password.required">Obrigatório</span> 
            </md-field>
          </div>
          <!-- </div> -->
          <md-card-header :class="{ hidden: isHidden }" class="extrainfo-card-title " >
            <div class="subtitulo-apascentai primaria-txt-alt bold">Informações Adicionais para entrega do livro:</div>
          </md-card-header>
          <div class="md-layout-item md-size-100 md-small-size-100 form_part_2" :class="{ hidden: isHidden }">
            <md-field class="inline-item md-layout-item md-size-30">
              <label for="cep">CEP</label>
              <md-input type="text" name="cep" id="cep" v-model="form.cep" class="md-size-50" md-clearable/>
              <span class="md-helper-text">Ex.: 02232-502</span>
              <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span>
            </md-field>
            <md-field class="inline-item md-layout-item md-size-50">
              <label for="endereco">Endereço</label>
              <md-input type="text" name="endereco" id="endereco" v-model="form.endereco" class="md-size-50" md-clearable/>
              <span class="md-helper-text">Ex.: Rua 22 de Abril</span>
              <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span>
            </md-field>
            <md-field class="inline-item md-layout-item md-size-50">
              <label for="estado">Bairro</label>
              <md-input type="text" name="bairro" id="bairro" v-model="form.bairro" class="md-size-50" md-clearable/>
              <span class="md-helper-text">Ex.: Jardim Carmélia</span>
              <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span>
            </md-field>
            <md-field class="inline-item md-layout-item md-size-20">
              <label for="numero">Número</label>
              <md-input type="text" name="numero" id="numero" v-model="form.numero" class="md-size-50" md-clearable/>
              <span class="md-helper-text">Ex.: 22</span>
              <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span>
            </md-field>
            <md-field class="inline-item md-layout-item md-size-30">
              <label for="numero">Complemento</label>
              <md-input type="text" name="complemento" id="complemento" v-model="form.complemento" class="md-size-50" md-clearable/>
              <span class="md-helper-text">Ex.: Ap. 55 Bloco C</span>
              <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span>
            </md-field>
            <!-- <md-field>
              <md-select v-model="pais" name="pais" id="pais" placeholder="Pais">
                <md-option value="Brasil">Brasil</md-option>
              </md-select>
            </md-field> -->
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-size-40">
                <md-field>
                  <md-select name="estados" id="estados" class="md-size-50" placeholder="Escolha o Estado">
                    <md-option v-for="estado in estados" :key="estado.uf" :value="estado.uf">{{estado.nome}}</md-option>
                  </md-select>
                  <!-- <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span> -->
                </md-field>
              </div>
              
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-size-50">
                <md-field>
                  <label for="cidade">Cidade</label>
                  <md-input type="text" name="cidade" id="cidade" v-model="form.cidade" class="md-size-50" md-clearable/>
                  <span class="md-helper-text">Ex: São Paulo</span>
                  <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span>
                </md-field>
              </div>
            </div>

            </div>
          </div>
          <!-- <md-field class="md-layout-item md-size-50">
            <label>Senha</label>
            <md-input v-model="password" type="password"></md-input>
          </md-field> -->
        </md-card-content>
        <md-card-actions class="md-layout-item md-size-50 md-alignment-left">
          <md-button id="btnvoltarcad" class="md-raised md-layout-item md-size-10 md-accent" @click="voltar" :class="{ hidden: isHidden }"><md-icon>arrow_back_ios</md-icon></md-button>
          <md-button id="btncadastrar" class="md-raised md-accent btn-cadastrar btn-proximo" @click="validateUser" :disabled="sending">PRÓXIMO <md-icon>arrow_forward_ios</md-icon></md-button>
        </md-card-actions>
        <span class="acessar-cadastrar">Já tem acesso? <a v-on:click="AsyncClick">Entrar</a></span>
      </md-card>
    <md-snackbar class="snackbar" :md-active.sync="userSaved">Validando...</md-snackbar>
    </form>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    password,
    maxLength
  } from 'vuelidate/lib/validators'
  import MainScss from '~/assets/scss/main.scss'
  import Vue from 'vue'
  import Header from './Header.vue'
  import axios from 'axios'
  Vue.use(axios)
  Vue.use(MainScss);
  export default {
    components: {
        Header
    },
    name: 'FontAwesome',
    name: 'FormValidation',
    mixins: [validationMixin],
    data: () => ({
      AsyncCad: 'Login',
      radio: "Standard",
      form: {
        email: null,
        password: null,
        endereco: null,
        numero: null,
        bairro: null,
        cep: null,
        cidade: null,
      },
      estados: [{uf:"", nome: ""}],
      userSaved: false,
      sending: false,
      lastUser: null,
      isHidden: true
    }),
    props: {
      AsyncLoginCad: {
        type: String,
        default () {
            return ''
        }
      }
    },
    validations: {
      form: {
        email: {
          required,
          email
        },
        password:{
          required
        }
      }
    },
    methods: {
      AsyncClick: function () {
        this.$emit('interface', this.AsyncCad) // handle data and give it back to parent by interface
      },
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]
        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.firstName = null
        this.form.lastName = null
        this.form.age = null
        this.form.gender = null
        this.form.email = null
        this.form.password = null
      },
      
      saveUser () {
        this.sending = true;
        this.userSaved = true;
        this.$store.dispatch("authenticateUser", {
          isLogin: false,
          email: this.form.email,
          password: this.form.password,
        }).then((data) => {
                // console.log("Entrou!" + this.form.email + this.form.password); 
                var snackbar = document.querySelector(".snackbar");
                snackbar.innerHTML = "Sucesso, criando seu espaço no apascentai...";
                snackbar.classList.add("success");
                setTimeout(() => {
                this.$router.push('/devocional');
                snackbar.classList.remove("success");
                this.userSaved = false;
                }, 3000);
          }).catch((data) => {
            if(data.error){
                var snackbar = document.querySelector(".snackbar");
                snackbar.innerHTML = "Erro ao se conectar, verifique sua conexão com internet.";
                snackbar.classList.add("error");
                setTimeout(() => {
                snackbar.classList.remove("error");
                this.userSaved = false;
                }, 4000);
                this.sending = false;
                this.clearForm();
            }
            // this.voltar();
           });
      },
      validateUser () {
        let cadastrarbtn = document.getElementById("btncadastrar");
        let email = document.getElementById("email");
        let password = document.getElementById("password");
        if(this.form.email == null || this.form.password == null){
          if(this.form.email == null){
            email.focus();
          }else if(this.form.password == null){
            password.focus();
          }
          setTimeout(() => {
            var focused = document.querySelectorAll(".form_part_1 .md-focused");
            focused.forEach(focus => {
              focus.classList.add("md-invalid");
              focus.querySelector(".label").classList.add("secundaria");
              focus.classList.add("secundaria");
              
              setTimeout(() => {
                focus.classList.remove("md-invalid");
                focus.querySelector(".label").classList.remove("secundaria");
                focus.classList.remove("secundaria");
              }, 3000);
            });
            // this.$el.querySelectorAll(".md-focused label").classList.add("md-invalid");
            // this.$el.querySelectorAll(".md-focused").classList.add("md-invalid");
          }, 100);
        }
        else if(this.form.email != null || this.form.password != null){
            if(this.radio != "Inicial" && cadastrarbtn.classList.contains('btn-proximo')){
                this.isHidden = !this.isHidden;
            }else{
                this.$v.$touch()
                if (!this.$v.$invalid) {
                    this.saveUser()
                }
            }
        }
      },
      getestate(){
        axios({ method: "GET", "url": "https://servicodados.ibge.gov.br/api/v1/localidades/estados" }).then(result => {
              for (let i = 0; i < result.data.length; i++) {
                this.estados.push({uf:result.data[i].sigla, nome: result.data[i].nome});
              }
            }, error => {
            console.error(error);
        });
      },
      switchplan: function(e){
        var cadastrarbtn = document.getElementById("btncadastrar");
        if(this.radio == "Inicial"){
          cadastrarbtn.querySelector(".md-button-content").innerHTML = 'OBTER ACESSO';
          cadastrarbtn.classList.remove("btn-proximo");
          cadastrarbtn.type = "submit";
        }
        else{
          cadastrarbtn.querySelector(".md-button-content").innerHTML= 'PRÓXIMO <i class="md-icon md-icon-font md-theme-default">arrow_forward_ios</i>'
          cadastrarbtn.classList.add("btn-proximo");
          cadastrarbtn.type = "button";
        }
      },
      voltar: function(){
        this.isHidden = !this.isHidden;
        var cadastrarbtn = document.getElementById("btncadastrar");
        cadastrarbtn.querySelector(".md-button-content").innerHTML = 'PRÓXIMO <i class="md-icon md-icon-font md-theme-default">arrow_forward_ios</i>'
        cadastrarbtn.type = "button";
        cadastrarbtn.classList.add("btn-proximo");
      }
    },
    created() {
      this.getestate();
    }
  }
</script>
<style lang="scss">
.cadastro, .login{
  .md-progress-bar {
    // position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .md-card.iniciocard{
    box-shadow: none;
    text-align: center;
    // margin-top: 80px;
    img{
      margin-top: 20px;
    }
  }
  .md-button{
    height: 45px;
  }
  .md-button .md-ripple{
    padding: 15px;
    color: #fff;
  }
  .md-card-content{
    text-align: left;
  }
  .md-card-content, .md-card-header {
      padding: 5px;
  }
  .md-card-header{
    margin-top: 20px;
  }
  .md-radio.md-theme-default .md-radio-container{
    border-color: $primaria !important;
  }
  .radiotxt{
    @include sans(1.5em, $primaria, 400, 2em);
    sup{
      font-size: 1rem;
    }
  }
  .md-radio.md-theme-default.md-checked > .md-radio-label{
    color: $secundaria;
  }
  .md-radio.md-theme-default.md-checked .md-radio-container{
    border-color: $secundaria !important;
  }
  form{
    background-color: $branco;
    padding-left: 20px;
    overflow: auto;
    position: relative;
  }
  .titulo-apascentai{
    color: $primaria;
    line-height: normal;
    text-align: left;
    @include sans(3em, $secundaria, 700, 1.3em);
    @include d(s){
      padding-top: 10px;
      font-size: 2.5em;
    }
    @include d(xs){
      padding-top: 10px;
      font-size: 2.5em;
    }
  }
  .texto-apascentai{
    line-height: normal;
    @include sans(1.5em, $secundaria, 300, 1.5em);
    color: $primaria-alt;
    margin-top: 10px;
    text-align: left;
  }
  .subtitulo-apascentai{
    color: $primaria-alt;
    line-height: normal;
    @include sans(1.5em, $secundaria, 500, 1.5em);
    margin-top: 10px;
    text-align: left;
  }
  .plano-recomendado{
    & span:after{
      content: 'recomendado';
      @include sans(.875em, $verde, 300, .875em);
      font-style: italic;
      margin-left: 10px;
    }
  }
  .acessar-cadastrar{
    color: $primaria;
    padding: 8px;
    display: block;
    text-align: left;
    margin-bottom: 60px;
  }
  .initial{
      overflow: auto;
  }
  .extrainfo-card-title{
      padding-left: 0;
      text-align: left;
      .subtitulo-apascentai{
        font-size: 1.25em;
      }
  }
  .acessar-login{
    display: block;
    padding: 20px;
    background-color: $primaria;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    margin-top: 40px;
    // @include d(l){
    //   width: 100%;
    // }
    // @include d(mb){
    //   width: 0%;
    // }
    @include sans(1.25em, $branco, 400, 1.25em);
    .grant-access{
      display: block;
      color: $verde !important;
      @include sans(1em, $secundaria, 400, 1em);
    }
  }
}
</style>
