<template>
    <div class="md-layout conteudo-container">
        <p class="conteudo semana">Semana {{semana}}</p>
        <h1 class="conteudo tema">{{titulo}}</h1>
        <blockquote class="conteudo versiculo base">
            "{{versiculo}}"
            <cite>{{referencia}}</cite>
        </blockquote>
        <p class="conteudo devocional">
            {{texto}}
        </p>
        <div class="conteudo dias md-layout md-gutter">
            <span v-for="(dia, index) in dias" :class="{active: dia.datacalendario == dayselect}" :key="index" class="dia md-layout-item b-shadow" @click="daychange(dia.datacalendario, index)"><p><b>{{ dia.datacalendario }}</b> <small>{{dia.dia}}</small></p></span>
        </div>
        <div class="devocional-diario">
            <span class="dayselect b-shadow secundaria-bg">{{dayselect}} <small>{{diasemana}}</small></span>
            <div class="md-layout">
                <div class="md-layout-item md-medium-size-100 yt_container">
                    <div id="yt-apascentai"><div id="youtube_canvas" style="height:100%;width:100%;max-width:100%"><iframe style="height:100%;width:100%;max-width:100%;border:0;" frameborder="0" :src="'https://www.youtube.com/embed/'+url+'?hl=en&amp;autoplay=0&amp;cc_load_policy=0&amp;loop=0&amp;iv_load_policy=1&amp;fs=1&amp;showinfo=1'"></iframe></div></div>
                </div>
                <div class="md-layout-item md-medium-size-100">
                    <div class="vip">
                        <h2>VIP - Vinho e Pão Diário</h2>
                        <blockquote class="vip versiculo">{{vipversiculo}}</blockquote>
                        <p class="vip texto">{{viptexto}}</p>
                    </div>
                    <div class="som">
                        <h2>SOM - Sobremesa do Dia</h2>
                        <a href="blabla" class="som versiculo">{{som}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'

    import VueMaterial from 'vue-material'
    import 'vue-material/dist/vue-material.min.css'
    import 'vue-material/dist/theme/default-dark.css'

    Vue.use(VueMaterial)
    Vue.use(axios)
export default {
    data: () => ({
        semana: '48',
        semanaatual: "",
        titulo: '',
        versiculo: '',
        referencia : '',
        texto: '',
        dayselect: new Date().getDate(),
        diasemana: '',
        dias:"",
        vipversiculo: "",
        viptexto: "",
        som:"",
        active:"",
        url: ""
    }),
    methods:{
        // buttons(){
        //     document.queryselector(".dias .dia").addEventListener("mouseover", () => {
        //     });
        // }
        daychange(day, index){
            this.dayselect = day;
            this.diasemana = this.dias[index].dia;
            this.vipversiculo = this.dias[index].vipversiculo.replace("'", "" + '"' + "");
            this.viptexto = this.dias[index].viptexto;
            this.som = this.dias[index].som;
            this.url = this.dias[index].url;
        },
        setWeek: function(){
            Date.prototype.getWeekNumber = function(){
            var d = new Date(Date.UTC(this.getFullYear(), this.getMonth(), this.getDate()));
            var dayNum = d.getUTCDay() || 7;
            d.setUTCDate(d.getUTCDate() + 4 - dayNum);
            var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
            return Math.ceil((((d - yearStart) / 86400000) + 1)/7)
            };
            this.semanaatual = new Date().getWeekNumber();
        }
        // getdevocional(){
        //     const resolve = require('path').resolve;
        //     axios({ method: "GET", "url": this.$axios.defaults.baseURL + "/semanas/" + this.semana + ".json"}).then(result => {
        //         // for (let i = 0; i < result.data.length; i++) {
        //         //     this.estados.push({uf:result.data[i].sigla, nome: result.data[i].nome});
        //         // }
        //         this.titulo = result.data.titulo;
        //         this.versiculo = result.data.versiculo;
        //         this.referencia = result.data.referencia;
        //         this.texto = result.data.texto;
        //         this.dias = result.data.dias;

        //         this.$store.dispatch("changeWeek", result.data);
        //         // console.log(this.$store.state.semana);
        //         this.dias.forEach(dia => {
        //             if(dia.datacalendario.slice(0, 2) == new Date().getDate()){
        //                 this.dayselect = dia.datacalendario;
        //                 this.diasemana = dia.dia;
        //                 this.vipversiculo = dia.vipversiculo;
        //                 this.viptexto = dia.viptexto;
        //                 this.som = dia.som;

        //             }
        //         });
        //         console.log(result);
        //         console.log(JSON.parse(result.data));
        //         }, error => {
        //         console.error(error);
        //     });
        // }
    },
    watch:{
    '$store.state.semana'(v){
        this.semana = this.$store.state.semana.semana;
        this.titulo = this.$store.state.semana.titulo;
        this.versiculo = this.$store.state.semana.versiculo;
        this.referencia = this.$store.state.semana.referencia;
        this.texto = this.$store.state.semana.texto;
        this.dias = this.$store.state.semana.dias;
        let dayofweek = new Date().getDay() - 1;
        console.log(dayofweek);
        this.setWeek();
            if(this.semanaatual == this.semana){
                this.daychange(this.dias[dayofweek].datacalendario, dayofweek);
            }else{
                this.daychange(this.dias[0].datacalendario, 0);
            }
        }
    },
    mounted() {
        var dias = document.querySelectorAll(".dias .dia");
        dias.forEach(function(dia){
            dia.addEventListener("click", () => {
                document.querySelectorAll(".dias .dia").forEach(function(diaactive){
                    diaactive.classList.remove("active");
                });
                dia.classList.add("active");
            });
        });
    },
}
</script>

<style lang="scss">
.conteudo-container{
    background-color: $branco;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .conteudo{
        max-width: 80%;
        @include sans(1rem, $secundaria, normal, normal);
        &.semana{
            @include sans(1.25rem, $secundaria, normal, normal);
            text-align: center;
        }
        &.tema{
            @include sans(2.5rem, $secundaria, bold, normal);
        }
        &.versiculo{
            @include serif(1.5rem, $primaria, normal, 2rem);
            font-style: italic;
            text-align: center;
            &.base{
                margin: 40px 0;
            }
        }
        &.devocional{
            @include sans(1rem, $primaria, normal, 1.5rem);
        }
        &.dias{
            width: 100%;
            overflow: auto;
            flex-wrap: nowrap;
            .dia{
                cursor: pointer;
                padding: 20px;
                margin: 20px 5px;
                @include sans(1.25rem, $primaria, bold, 1rem);
                width: calc(100%/7);
                // min-width: 14.5%;
                text-align: center;
                border-radius: 5px;
                transition: all .2s;
                &:hover{
                    background-color: $secundaria;
                    color: $branco;
                }
                &:nth-child(1){
                    margin-left: 0;
                }
                &:nth-last-child(1){
                    margin-right: 0;
                }
                & small{
                    font-size: .875rem;
                    display: block;
                    padding: 5px 0 0;
                    font-weight: normal;
                }
                &.active{
                    background-color: $secundaria;
                    color: $branco;
                    &.b-shadow{
                        box-shadow: 0px 3px 8px rgba(0,0,0,0);
                    }
                }
            }
        }
    }
    .devocional-diario{
        width: 80%;
        margin-bottom: 60px;
        .dayselect{
            width: 100%;
            display: block;
            border-radius: 5px;
            text-align: center;
            padding: 20px;
            @include sans(1.5rem, $branco, bold, 2rem);
            small{
                display: block;
            }
        }
        .yt_container{
            margin-top: 20px;
            @include d(m){
                height: 30vw;
            }
            #yt-apascentai{
                margin: 0 auto;
                display: block;
                // outline: 5px inset $secundaria;
                // outline-offset: 0px;
                overflow:hidden;
                height: 100%;
                width: 100%;
                max-width:100%;
                max-height:100%;
                border-radius: 10px;
            }
        }
        // @media only screen and (min-width: 960px) and (max-width: 1280px - 1) {
		// 	.yt_container{
        //         height: 30vw;
        //     }
		// }
        .vip, .som{
            @include sans(1rem, $primaria, normal, 1.5rem);
            max-width: 1000px;
            text-align: left;
            margin-top: 10px;
            margin-left: 10px;
            h2{
                @include sans(2rem, $secundaria, bold, normal);
                display: flex;
                align-items: center;
                justify-content: left;
                &:before{
                    content: '';
                    display: inline-block;
                    width: 3vw;
                    height: 3vw;
                    margin: 10px;
                    max-width: 150px;
                    max-height: 150px;
                    min-width: 60px;
                    min-height: 60px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .versiculo{
                @include serif(1rem, $primaria, normal, 1.5rem);
                font-style: italic;
            }
        }
        .vip{
            h2{
                &:before{
                    background-image: url('../assets/img/vip-icon.svg');
                }
            }
        }
        .som{
            h2{
                &:before{
                    background-image: url('../assets/img/som-icon.svg');
                }
            }
            .versiculo{
                font-size: 1.5rem;
                margin-top: 10px;
                display: block;
            }
        }
    }
}
</style>

