<template>  
  <div class="md-layout navbar">
    <md-tabs class="md-layout-item">
      <md-tab tag="a" class="nav-item nav-link inicio" :class="{ hidden: isActive }" to="/" id="tab-inicio" md-label="Inicio"></md-tab>
      <md-tab tag="a" class="nav-item nav-link devocional" :class="{ hidden: !isActive }" to="/devocional" id="tab-devocional" md-label="Devocional"></md-tab>
      <md-tab tag="a" class="nav-item nav-link sobre" to="/sobre" id="tab-sobre" md-label="Sobre"></md-tab>
      <md-tab class="nav-item nav-link" to="/gemes" id="tab-gemes" md-label="GEMES"></md-tab>
    </md-tabs>
    <div class="md-toolbar-section-end md-layout-item">
      <md-button class="md-accent btn-entrar" :class="{ hidden: isActive }" exact>Entrar</md-button>
      <div class="user-header" :class="{ hidden: !isActive }" >
        <md-avatar class="md-large">
          <nuxt-link tag="a" to="/perfil" class="avatar-img"><img src="../assets/img/avatars/man-light-mustache.svg" alt="People"></nuxt-link>
        </md-avatar>
        <div class="header-userinfo" :class="{visible: openLogin == 1}">
          <nuxt-link tag="a" to="/perfil" class="header-myacc">Minha Conta</nuxt-link>
          <a class="header-logout" @click="onLogout">Sair</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    isActive: false,
    openLogin: 0,
  }),
  methods:{
    onLogout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    }
  },
  mounted() {
    // this.isActive = firebase.auth().currentUser == null ? false : true; // user is undefined if no user signed in
    // console.log(this.isActive);
    if (this.$store.getters.isAuthenticated) {
      this.isActive = true;
    }
  }
  // methods:{
  //   handleScroll: function (e) {
  //     var currentScrollPos = e.srcElement.scrollTop;
  //     console.log(currentScrollPos);
  //     if (currentScrollPos > this.scrollPosition) {
  //       document.getElementsByClassName("navbar").style.top = "0";
  //       alert("Wow");
  //     } else {
  //       document.getElementsByClassName("navbar").style.top = "-50px";
  //       alert("Yau");
  //     }
  //     this.scrollPosition = currentScrollPos;
  //   }
  // }
}
</script>
<style lang="scss">
.navbar{
  position: relative;
  width: 100%;
  z-index: 50;
  background-color: $branco;
  padding: 1em;
  transition: .3s;
  max-height: 80px;
  .nav-link{
    color: $secundaria;
  }
  .md-tabs.md-theme-default .md-tabs-navigation .md-button{
    color: $secundaria;
  }
  .md-button{
    &.nuxt-link-active,
    &:not([disabled]).md-focused:before,
    &:not([disabled]):active:before,
    &:not([disabled]):hover:before{
      opacity: 1;
      // background: $secundaria;
    }
    .md-ripple{
      color: $secundaria;
    }
    &.btn-entrar{
      background: $secundaria;
      .md-ripple{
        color: $branco; 
      }
    }
    &:hover{
      background: $secundaria;
      .md-ripple{
        color: $branco;
      }
    }
  }
  .nav-link:hover{
    color: $branco;
    opacity: 1;
    text-decoration: none;
  }
  .nav-link.active .md-button{
    color: $branco !important;
    background-color: $secundaria !important;
    &:hover{
      color: $branco !important;
    }
  }
  .nuxt-link-active.header-myacc,
  .nuxt-link-active.avatar-img{
    background: transparent !important;
  }
  .user-header{
    text-align: right;
    position: absolute;
    right: 1em;
    top: 1em;
    a{
      display: block;
      margin: 10px;
      &:nth-child(1){
        margin: 0;
      }
    }
    .header-userinfo{
      margin-top: 10px;
    }
  }
  .user-profile-btn{
    i{
      border: solid 2px $secundaria;
      border-radius: 100%;
      cursor: pointer;
      color: $secundaria !important;
      &:hover{
        background: $secundaria;
        color: $branco !important;
      }
    }
  }
  @include d(s){
    position: fixed;
    top: 0;
    left: 0;
  }
  @include d(xs){
    position: fixed;
    top: 0;
    left: 0;
  }
}
</style>