<template>
    <div class="lateral">
        <div class="lateral-apascentai md-layout-item height-100vh md-size-100">
            <img class="logo-lateral" src="~/../assets/img/Logo-2.svg">
            <p class="semana">Semana {{semanaatual}}</p>
            <h2 class="titulo">{{ titulo }}</h2>
            <span class="menu" @click="openmenu">
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
            </span>
            <!-- <span class="fechar secundaria-bg">
                <p>SAIR</p>
                <img src="~/../assets/img/icones/sign-out-option.svg" alt="">
            </span> -->
        </div>
        <div class="lateral-semanas md-layout-item height-100vh md-size-20 md-small-size-50">
            <div class="top">
                <p class="semanas-titulo">Semanas</p>
                <span class="close" @click="closemenu"><img src="~/../assets/img/close.svg" alt=""></span>
            </div>
            <div class="semanas-cont">
                <div class="semanas">
                    <span v-for="semana in 52" :data-semana="semana" @click="changeWeek(semana)" :key="semana" :class="{active:active == semana}">Semana {{semana}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'

import VueMaterial from 'vue-material'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/default-dark.css'
export default {
    data: () => ({
        semanaatual: "",
        semana: "",
        titulo: "",
        active: "",
    //   semanas: [{uf:"", nome: ""}],
    }),
    methods:{
        setWeek: function(){
            Date.prototype.getWeekNumber = function(){
            var d = new Date(Date.UTC(this.getFullYear(), this.getMonth(), this.getDate()));
            var dayNum = d.getUTCDay() || 7;
            d.setUTCDate(d.getUTCDate() + 4 - dayNum);
            var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
            return Math.ceil((((d - yearStart) / 86400000) + 1)/7)
            };
            this.semanaatual = new Date().getWeekNumber();
            this.active = this.semanaatual;
            this.$store.dispatch("getdevocional", this.semanaatual);

            setTimeout(() => {
            let semanaactive = document.querySelector(".semanas .active").getBoundingClientRect();
             scrollTo(document.querySelector(".semanas"), semanaactive.top, 1250);  
            }, 3000); 
                
            function scrollTo(element, to, duration) {
                var start = element.scrollTop,
                    change = to - start,
                    currentTime = 0,
                    increment = 20;
                    
                var animateScroll = function(){        
                    currentTime += increment;
                    var val = Math.easeInOutQuad(currentTime, start, change, duration);
                    element.scrollTop = val;
                    if(currentTime < duration) {
                        setTimeout(animateScroll, increment);
                    }
                };
                animateScroll();
            }

            //t = current time
            //b = start value
            //c = change in value
            //d = duration
            Math.easeInOutQuad = function (t, b, c, d) {
            t /= d/2;
                if (t < 1) return c/2*t*t + b;
                t--;
                return -c/2 * (t*(t-2) - 1) + b;
            };
        },
        changeWeek: function(novasemana){
            this.$store.dispatch("getdevocional", novasemana);
            this.active = novasemana;
        },
        openmenu(){
            document.querySelector(".lateral-semanas").classList.toggle("active");
        },
        closemenu(){
            document.querySelector(".lateral-semanas").classList.toggle("active");
        }
    },
    watch:{
    '$store.state.semana'(v){
        this.semana = this.$store.state.semana.semana;
        this.titulo = this.$store.state.semana.titulo;
        }
    },
    mounted: function() {
        this.setWeek();
    }
}
</script>

<style lang="scss">
.lateral-apascentai{
    // background-image: url("../assets/img/Logo.svg");
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color: $secundaria;
}
.logo-lateral{
    position: absolute;
    height: 100% !important;
    object-fit: contain;
    object-position: center;
    z-index: 0;
}
.lateral-apascentai{
    position: relative;
    .semana{
        margin: 5% 5% 0;
        @include sans(1.5rem, $branco, bold, 2rem);
    }
    .titulo{
        margin: 0 5% 0;
        @include sans(1.5rem, $branco, bold, 2rem);
    }
    .menu{
        cursor: pointer;
        display: inline-block;
        margin-left: 10%;
        .item{
            display: block;
            padding: 3px;
            width: 60px;
            border-radius: 10px;
            background-color: $branco;
            margin-top: 13px;
            position: relative;
            &:nth-child(2){
                width: 40px;
            }
            &:nth-child(3){
                width: 20px;
            }
            &:before{
                content: '';
                background-color: $branco;
                height: 10px;
                width: 10px;
                margin-right: 5px;
                border-radius: 10px;
                display: inline-block;
                position: absolute;
                left: -15px;
                top: -3px;
            }
            &:nth-child(1){
                margin-top: 10px;
            }
        }
    }
    .fechar{
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 100%;
        padding-right: 10px;
        cursor: pointer;
        &:hover{
            filter: brightness(105%);
            p{
                letter-spacing: .5em;
            }
            img{
                margin-right: 5px;
            }
        }
        p{  
            @include sans(1.5rem, $branco, bold, normal);
            margin-right: 10px;
            transition: all .2s;
        }
        img{
            transition: all .2s;
        }
    }
}
.lateral-semanas{
    background-color: $secundaria;
    height: 100vh !important;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-start;
    overflow-x: hidden;
    position: fixed;
    z-index: 51;
    top: 0;
    height: 100vh !important;
    left: -100%;
    transition: all .2s;
    &.active{
        left: 0;
    }
    .top{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        .semanas-titulo{
            @include sans(1.5rem, $branco, bold, 2.5rem);
            text-transform: uppercase;
            letter-spacing: .1rem;
            margin: 5%;
        }
        .close{
            height: 35px;
            width: 35px;
            margin: 5%;
            cursor: pointer;
        }

    }
    .semanas-cont{
        display: flex;
        align-items: flex-start;
        flex-flow: column;
        overflow: auto;
        max-height: 80%;
        width: 85%;
        position: relative;
        overflow: hidden;
    .semanas{
        display: flex;
        align-items: flex-start;
        flex-flow: column;
        overflow: auto;
        max-height: 80%;
        width: 115%;
        overflow-x: hidden;
        padding: 80% 0;
            span{
                @include sans(1.5rem, $branco, normal, 3.5rem);
                width: 85%;
                margin-left: 3%;
                text-align: center;
                cursor: pointer;
                &:after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    margin: 0 auto;
                    background-color: $branco;
                }
                &:nth-last-child(1){
                    &::after{
                        height: 0;
                    }
                }
                &.active,&:hover{
                    background-color: $branco;
                    color: $secundaria;
                }
            }
            &:before, &:after{
                content: '';
                height: 25%;
                width: 100%;
                display: block;
                position: absolute;
            }
            &:before{
                left: 0;
                top: 0;
                background: linear-gradient($secundaria, rgba(237, 98, 87, 0));
            }
            &:after{
                left: 0;
                bottom: 0;
                background: linear-gradient(rgba(237, 98, 87, 0), $secundaria);
            }
        }
        // &:before, &:after{
        //     content: '';
        //     display: block;
        //     width: 0;
        //     height: 0;
        //     border-style: solid;
        //     border-width: 0 20px 20px 20px;
        //     border-color: transparent transparent #007bff transparent;
        // }
    }
}
</style>
