<template>
    <div class="login">
    <form @submit.prevent="validateUser" class="md-layout height-100vh ScrollNav">
    <Header/>
      <md-card class="md-layout-item md-large-size-100 md-size-100 md-small-size-100 plancard iniciocard">
        <img class="md-layout-item md-size-50 md-small-hide" src="../assets/img/webdevices-b.svg" alt="Leve para onde for seu Apascentai Digital.">
        <div class="titulo-apascentai primaria-txt">Leve seu Devocional Apascentai com você.</div>
        <!-- <div class="texto-apascentai">O Manual Apascentai o Pequeno Rebanho alimenta as pregações e vida devocional de milhares de pessoas no Brasil e fornece subsideos para as reuniões de Grupos Pequenos, no modelo GEMES, para as 53 semanas propostas.</div> -->
        <md-card-header>
          <div class="subtitulo-apascentai primaria-txt-alt">Já tem cadastro?</div>
        </md-card-header>
        <md-card-content class="md-layout-item md-size-100 ">
          <md-field class="md-layout-item md-size-50 md-small-size-90" :class="[getValidationClass('email'), { hidden: !isHidden }]">
            <label for="email">Insira seu e-mail</label>
            <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" md-clearable/>
            <span class="md-helper-text">Ex: joao@gmail.com</span>
            <span class="md-error" v-if="!$v.form.email.required">Obrigatório</span> 
            <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span> 
          </md-field>
          
          <div class="md-layout-item md-size-100 form_part_2 " :class="{ hidden: isHidden }">
            <md-field class="md-layout-item md-size-50 md-small-size-90">
                <label>Senha</label>
                <md-input name="password" v-model="form.password" type="password" autocomplete="current-password"></md-input>
                <span class="md-helper-text">Dica: Sua senha é pessoal, jamais compartilhe ela.</span>
            </md-field>
          </div>
        </md-card-content>
        <md-card-actions class="md-layout-item md-size-50 md-alignment-left">
          <md-button id="btnvoltarcad" class="md-raised md-layout-item md-size-10 md-xsmall-size-20 md-accent btn-voltar" @click="voltar" :disabled="sending" :class="{ hidden: isHidden }"><md-icon>arrow_back_ios</md-icon></md-button>
          <md-button id="btncadastrar" class="md-raised md-accent btn-cadastrar btn-proximo" @click="validateUser" :disabled="sending">PRÓXIMO <md-icon>arrow_forward_ios</md-icon></md-button>
        </md-card-actions>
        <span class="acessar-login">Ainda não tem acesso ao Apascentai Digital? <a v-on:click="AsyncClick" class="grant-access md-alignment-bottom-center">Adquira já seu acesso clicando aqui.</a></span>
      </md-card>
      <md-snackbar class="snackbar" :md-active.sync="userSaved">Validando...</md-snackbar>
    </form>
  </div>
</template>

<script>
  import MainScss from '~/assets/scss/main.scss'
  import Vue from 'vue'
  import Header from './Header.vue';
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    maxLength
  } from 'vuelidate/lib/validators'
  Vue.use(MainScss);
  export default {
    components: {
        Header
    },
    name: 'FormValidation',
    mixins: [validationMixin],
    data: () => ({
      AsyncCad: 'Cadastro',
      form: {
        email: null,
        password: null,
      },
      userSaved: false,
      sending: false,
      lastUser: null,
      isHidden: true
    }),
    props: {
      AsyncLoginCad: {
        type: String,
        default () {
            return ''
        }
      }
    },
    validations: {
      form: {
        email: {
          required,
          email
        },
        password:{
          required
        }
      }
    },
    methods: {
      AsyncClick: function () {
        this.$emit('interface', this.AsyncCad) // handle data and give it back to parent by interface
      },
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]
        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.email = null
        this.form.password = null
      },
      saveUser () {
        this.sending = true;
        this.userSaved = true;
        this.$store.dispatch("authenticateUser", {
          isLogin: true,
          email: this.form.email,
          password: this.form.password
        }).then(() => {
            // console.log("Entrou!" + this.form.email + this.form.password); 
            var snackbar = document.querySelector(".snackbar");
              snackbar.innerHTML = "Sucesso, carregando seu apascentai...";
              snackbar.classList.add("success");
              setTimeout(() => {
                this.$router.push('/devocional');
                snackbar.classList.remove("success");
                this.userSaved = false;
              }, 3000);
          }).catch(() => {
            var snackbar = document.querySelector(".snackbar");
            snackbar.innerHTML = "Erro ao se conectar, verifique seu e-mail e senha estão corretos.";
            snackbar.classList.add("error");
            setTimeout(() => {
              snackbar.classList.remove("error");
              this.userSaved = false;
            }, 4000);
            this.sending = false;
            this.clearForm();
            this.voltar();
           });
      },
      validateUser () {
        let cadastrarbtn = document.getElementById("btncadastrar");
        let email = document.getElementById("email");
        if(cadastrarbtn.classList.contains('btn-proximo') && this.form.email != null){
          this.isHidden = !this.isHidden;
          cadastrarbtn.querySelector(".md-button-content").innerHTML = 'ENTRAR';
          cadastrarbtn.type = "submit";
          cadastrarbtn.classList.remove("btn-proximo");
        }else if(this.form.email == null){
          email.focus();
          setTimeout(() => {
            this.$el.querySelector(".md-focused").classList.add("md-invalid");
            this.$el.querySelector(".md-focused label").classList.add("secundaria");
            this.$el.querySelector(".md-focused").classList.add("secundaria");
            setTimeout(() => {
              this.$el.querySelector(".md-focused").classList.remove("md-invalid");
              this.$el.querySelector(".md-focused label").classList.remove("secundaria");
              this.$el.querySelector(".md-focused").classList.remove("secundaria");
            }, 3000);
            // this.$el.querySelectorAll(".md-focused label").classList.add("md-invalid");
            // this.$el.querySelectorAll(".md-focused").classList.add("md-invalid");
          }, 100);
        }else{
          this.$v.$touch()
          if (!this.$v.$invalid) {
            this.saveUser()
          }
        }
      },
      // changesend: function(){
      // },
      voltar: function(){
        this.isHidden = !this.isHidden;
        let cadastrarbtn = document.getElementById("btncadastrar");
        cadastrarbtn.querySelector(".md-button-content").innerHTML = 'PRÓXIMO <i class="md-icon md-icon-font md-theme-default">arrow_forward_ios</i>'
        cadastrarbtn.type = "button";
        cadastrarbtn.classList.add("btn-proximo");
      }
    },
  }
</script>
<style lang="scss">
@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default", (
  primary: $primaria, // The primary color of your brand
  accent: $secundaria // The secondary color of your brand
));
@import "~vue-material/dist/theme/all"; // Apply the theme
</style>
