<template>
    <div class="perfil">
        <div class="container">
            <span class="titulo secundaria-bg">PERFIL APASCENTAI</span>
            <div class="perfil-topo">
                <form novalidate class="md-layout md-gutter md-size-100" @submit.prevent="validateUser">
                    <md-card class="md-layout-item md-large-size-100 md-size-100 md-small-size-100 plancard iniciocard">
                        <md-card-content class="md-layout card-info md-gutter md-alignment-top-center">
                        <div class="md-layout-item md-size-25">
                            <md-avatar class="md-large extra-large">
                                <img :src="this.perfil.avatar" alt="People">
                            </md-avatar>
                            <div class="avatars">
                                <p>Escolha um avatar</p>
                                <md-radio v-model="perfil.avatar" v-for="(avatar, index) in avatars" :key="index" class="avatar" :value="avatar.svg"><img :src="avatar.svg"></md-radio>
                            </div>
                        </div>
                        <div class="md-layout-item md-size-30">
                            <md-field class="nome-field md-layout-item">
                                <label for="nome">Nome</label>
                                <md-input type="nome" name="nome" id="nome" autocomplete="nome" v-model="perfil.nome" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                            <md-field class="md-layout-item">
                                <label for="email">E-mail</label>
                                <md-input type="email" name="email" id="email" autocomplete="email" v-model="perfil.email" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                            <div class="md-layout-item">
                                <md-button id="btntrocar" class="md-raised md-accent btn">Trocar Senha</md-button>
                            </div>
                        </div>
                        <div class="md-layout md-size-45">
                            <div class="md-layout-item">
                                <md-button id="edit" class="md-raised edit md-accent btn"><md-icon>edit</md-icon></md-button>
                            </div>
                            <md-field class="md-layout-item md-size-20">
                                <label for="cep">CEP</label>
                                <md-input type="cep" name="cep" id="cep" autocomplete="cep" v-model="perfil.cep" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                            <md-field class="md-layout-item md-size-80">
                                <label for="endereco">Endereço</label>
                                <md-input type="endereco" name="endereco" id="endereco" autocomplete="endereco" v-model="perfil.endereco" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                            <md-field class="md-layout-item md-size-45">
                                <label for="bairro">Bairro</label>
                                <md-input type="bairro" name="bairro" id="bairro" autocomplete="bairro" v-model="perfil.bairro" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                            <md-field class="md-layout-item md-size-10">
                                <label for="numero">N°</label>
                                <md-input type="numero" name="numero" id="numero" autocomplete="numero" v-model="perfil.numero" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                            <md-field class="md-layout-item md-size-45">
                                <label for="complemento">Complemento</label>
                                <md-input type="complemento" name="complemento" id="complemento" autocomplete="complemento" v-model="perfil.complemento" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                            <md-field class="md-layout-item md-size-20">
                                <label for="estado">Estado</label>
                                <md-input type="estado" name="estado" id="estado" autocomplete="estado" v-model="perfil.estado" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                            <md-field class="md-layout-item">
                                <label for="cidade">Cidade</label>
                                <md-input type="cidade" name="cidade" id="cidade" autocomplete="cidade" v-model="perfil.cidade" disabled md-clearable/>
                                <!-- <span class="md-helper-text">Ex.: joao@gmail.com</span> -->
                                <!-- <span class="md-error" v-if="!$v.perfil.email.required">Obrigatório</span>  -->
                                <!-- <span class="md-error" v-else-if="!$v.form.email.email">Verifique se seu e-mail está correto</span>  -->
                            </md-field>
                        </div>
                        </md-card-content>
                        <!-- <div class="content-perfil-container email">
                            <p class="dados email"><b>E-mail: </b>{{email}}</p>
                        </div> -->
                    </md-card>
                </form>
                <div class="expire">
                    <p>Seu acesso ao <b class="bold">Apascentai Digital</b> expira em: </p>
                    <b>{{expiredate}}</b>
                    <small class="verde-txt">({{diasrestantes}} dias restantes)</small>
                </div>
            </div>
            <div class="md-layout md-gutter">
                <div class="md-layout-item">

                </div>
                <div class="md-layout-item"></div>
            </div>
        </div>
    </div>
</template>

<script>
// import firebase from '@/services/fireinit.js'
import { validationMixin } from 'vuelidate'

import {
required,
email,
password,
minLength,
maxLength
} from 'vuelidate/lib/validators'
export default {
    name: 'FormValidation',
    mixins: [validationMixin],
    data: ()=>({
        perfil: {
            nome: null,
            email: null,
            cep: null,
            endereco: null,
            bairro: null,
            numero: null,
            complemento: null,
            estado: null,
            cidade: null,
            photoURL: null,
            expiredate: null,
            diasrestantes: '235',
            authUser: null,
            avatar: null
        },
        avatars: null,
        userSaved: false,
        sending: false,
        lastUser: null
    }),
    validations: {
        perfil: {
        nome: {
          required,
          minLength: minLength(3)
        }
      }
    },
    methods:{
        getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]
        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      }
    },
    watch:{
        '$store.state.avatars'(v){
            this.avatars = this.$store.state.avatars.filter((item , index)=>{
                return index > 1; //will return the array from the second value
            })
            console.log(this.avatars);
        }
    },
    created(){
         this.$store.dispatch("getavatars");
    //   firebase.auth().onAuthStateChanged(user => {
    //   this.authUser = user
    //   if (user) {
    //     StoreDB.collection('usuarios').onSnapshot(snapshot => {
    //         let changes = snapshot.docChanges();
    //         changes.forEach(change => {
    //             console.log(change.doc.data());
    //             if(change.type == 'added'){
    //                 this.nome = user.displayName
    //                 this.photoURL = user.photoURL
    //                 this.email = user.email
    //                 this.expiredate = user.email
    //             } else if (change.type == 'removed'){
    //                 this.nome = user.displayName
    //                 this.photoURL = user.photoURL
    //                 this.email = user.email
    //             }
    //         });
    //     });
    //     firebase.database().ref('usuarios').child(user.uid).once('value', snapshot => {
    //       if (snapshot.val()) {
    //         this.favoriteFood = snapshot.val().favoriteFood
    //         Vue.set(this.authUser, 'favoriteFood', this.favoriteFood)
    //       }
    //     })
    //   }
    //   })
    },
}
</script>
<style lang="scss">
.perfil{
    display: flex;
    justify-content: center;
    width: 100%;
    .container{
        width: 80%;
        margin: 0 auto;
    }
    .btn{
        font-weight: bold;
        letter-spacing: .1em;
    }
    .titulo{
        width: 100%;
        display: block;
        border-radius: 5px;
        text-align: center;
        padding: 20px;
        @include sans(1.5rem, $branco, bold, 2rem);
        margin: 20px 0;
        letter-spacing: 1px;
    }
    .perfil-topo{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        .md-disabled{
            &.nome-field{
                label{
                    font-size: 2em;
                    color: $secundaria !important;
                    font-weight: bold;
                }
            }
            label{
                color: $primaria !important;
            }
            &:after, &:before{
                display: none;
            }
        }
        .md-field{
            margin: 4px 0;
        }
        .btn{
            margin: 0;
            &.edit{
                position: absolute;
                right: 0;
            }
        }
        .card-info{
            padding: 20px;
        }
    }
}
.md-avatar.extra-large{
    width: 200px;
    height: 200px;
}
.nome{
    @include sans(2rem, $secundaria, bold, normal);
    text-align: center;
}
form{
    width: 100%;
    position: initial;
}
.content-perfil-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    &.nome{
        margin-top: 20px;
    }
    .dados{
        @include sans(1rem, $primaria, normal, normal);
        b{
            font-weight: bold;
        }
        &.email{
            margin: 20px 0;

        }
    }
    .edit{
        margin-left: 5px;
        cursor: pointer;
        &.large{
            img{
                width: 1.5rem;
            }
        }
        &.normal{
            img{
                width: 1rem;
            }
        }
    }
}
.expire{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
    p{
        @include sans(1.25rem, $primaria, normal, normal);
    }
    b:nth-child(2){
        @include sans(1.5rem, $secundaria, 900, normal);
    }
    small{
        @include sans(1rem, $primaria, bold, normal);
    }
}
.avatars{
    padding: 10px;
    p{
        @include sans(1.5em, $secundaria, 400, 2em);
    }
    .avatar{
        width: 50px;
        height: 50px;
        margin: 5px;
        img{
            width: 100%;
        }
        &.md-radio{
            &.md-checked{
                img{
                    transition: all .2s;
                    border-radius: 30px;
                    border: solid 2px $secundaria;
                    background-color: #65c9ff;
                    transform: scale(1.3);
                }
            }
            .md-radio-container{
                position: absolute !important;
                opacity: 0;
            }
            .md-radio-label{
                padding-left: 0;
            }
        }
    }
}
</style>

