<template>
  <div class="default-page">
    <div id="transition" class="cd-transition-layer visible opening"> 
      <div class="bg-layer"></div>
    </div>
    <nuxt/>
  </div>
</template>

<script>
export default{
    methods: {
      load(){
            var _trans=document.getElementById('transition');
            var _apascentai= document.querySelector('.apascentai-brand');
            document.querySelector(".default-page").classList.remove("no-cssanimations");
            function start(){
              _trans.className='cd-transition-layer visible opening';
              setTimeout(function(){
                _apascentai.className='apascentai-brand visible';
                setTimeout(function(){
                  _trans.className='cd-transition-layer visible opening closing';
                  _apascentai.className='apascentai-brand';
                  setTimeout(function(){
                    document.querySelector(".default-page").classList.add("no-cssanimations");
                  },1000);
                }, 1000);
              }, 600);
            }
            start();
        }
    },
    mounted() {
        this.load();
    },
}
</script>
<style>

</style>
