<template>
  <section id="initial" class="md-layout height-100vh initial">
      <div class="md-layout-item apascentai-brand md-small-size-100">
        <Apascentai/>
      </div>
      <div class="md-layout-item nav-container md-small-size-100 height-100vh">
        <keep-alive>
          <transition name="component-fade" mode="out-in">
            <component :is="AsyncLoginCad" :AsyncLoginCad="AsyncLoginCad" @interface="AsyncLoginCad = $event"></component>
          </transition>
        </keep-alive>
      </div>
  </section>
</template>
<script>
  import Vue from 'vue'

  import VueMaterial from 'vue-material'
  import 'vue-material/dist/vue-material.min.css'
  import 'vue-material/dist/theme/default-dark.css'
  
  import firebase from '@/services/fireinit.js'
  import Cadastro from '~/components/Cadastro.vue'
  import Login from '~/components/Login.vue'
  import Apascentai from '~/components/Apascentai.vue'
  
  Vue.use(VueMaterial)
  export default {
    data: function(){
      return {
        AsyncLoginCad: 'Cadastro',
        Loaded: false
      }
    },
    components: {
      Cadastro,
      Login,
      Apascentai,
    },
  methods:{
    // handleFcAfterDateBack (event) {
    //   console.log('data after child handle: ', event) // get the data after child dealing
    // },
    handleScroll: function (e) {
      var currentScrollPos = window.scrollY;
      if (currentScrollPos < this.scrollPosition) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-150px";
      }
      this.scrollPosition = currentScrollPos;
    }
    // load(){
    //     // var _trans=document.getElementById('transition');
    //     var _apascentai= document.querySelector('html');
    //     function start(){
    //       // _trans.className='cd-transition-layer visible opening';
    //       // setTimeout(function(){
    //         setTimeout(function(){
    //         //   _trans.className='cd-transition-layer visible opening closing';
    //             _apascentai.classList.remove("loading", "in");
    //           setTimeout(function(){
    //             _apascentai.classList.add("loading", "out");
    //           },1000);
    //         }, 1000);
    //       // }, 600);
    //     }
    //     start();
    //   }
    },
    beforeCreate() {
      if(this.$route.query.redir == "Login"){
        this.AsyncLoginCad = "Login";
      }else{
        // firebase.auth().currentUser == null ? this.AsyncLoginCad = "Cadastro" :  this.$router.push('/devocional');
      }
    },
    mounted: function () {
        window.addEventListener('scroll', this.handleScroll);
    },
    destroyed: function () {
        window.removeEventListener('scroll', this.handleScroll);
    }
  }
</script>
<style lang="scss">
// /* -------------------------------- 

// Transition Layer 

// -------------------------------- */
.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  &:not(.closing){
    background-color: #fff;
  }
}
.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  -moz-transform: translateY(-50%) translateX(-2%);
  -ms-transform: translateY(-50%) translateX(-2%);
  -o-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(../assets/img/ink-w.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24);
  -moz-animation: cd-sequence 0.8s steps(24);
  animation: cd-sequence 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-transition-layer {
  display: none;
}

@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@-moz-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
}
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
}
// #loader_full {
// 	position: fixed;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// }

// #loader_full {
// 	display: none;
// }

// #loader_full {
// 	background-size: 100% 100%;
// 	z-index: 9000;
// }

// #loader_full .loader_in > .in {
// 	width: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	transition: transform 1s ease-out, opacity .5s ease-out;
// }

// html.loading.out #loader_full .loader_in > .in {
// 	transform: scale(1.2);
// 	opacity: 0;
// }

// #loader_full svg {
// 	display: block;
// 	width: 100%;
// }

// #loader_full .logo {
// 	width: 50%;
// 	max-width: 30rem;
// 	margin: 0 auto;
// }

// #loader_full .logo polygon {
// 	animation: fade2 .4s alternate infinite;
// 	animation-play-state: paused;
// }

// #loader_full .tagline {
// 	width: 80%;
// 	text-align: center;
// 	max-width: 60rem;
// 	margin: 0 auto;
// 	font-size: 1.8rem;
// }

// #loader_full .mensaje {
// 	animation: fade2 .4s .2s alternate infinite;
// 	animation-play-state: paused;
// }

// html.loading #loader_full .logo polygon,
// html.loading #loader_full .mensaje {
// 	animation-play-state: running;
// }

// #loader_full > .loader_in > .in > * + * {
// 	margin-top: 3rem;
// }

// #mask {
// 	opacity: 0;
// 	pointer-events: none;
// }

// #mask {
// 	display: block;
// 	width: 0;
// 	height: 0;
// }

// @keyframes fade {
// 	0% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }

// @keyframes fade2 {
// 	0% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: .5;
// 	}
// }

// @keyframes fadein {
// 	0% {
// 		opacity: 0;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }

// @keyframes mask {
// 	0% {
// 		-webkit-mask-position: 0% 50%;
// 		-webkit-mask-position: 0% 50%;
// 	}
// 	100% {
// 		-webkit-mask-position: 100% 50%;
// 		-webkit-mask-position: 100% 50%;
// 	}
// }

// html.loading #loader_full {
// 	display: block;
// /*	cursor: wait;*/
// }

// html.in.no-cssmask #loader_full {
// 	animation: fade 1s 1 reverse ease-out;
// }

// html.out.no-cssmask #loader_full {
// 	animation: fade 1s 1 forwards ease-out;
// }

// html.cssmask.loading.mask-ok #loader_full {
// 	mask: url("../assets/img/mask-w.png");
// 	-webkit-mask-size: 3000% 100%;
// 	-webkit-mask-position: 0% 50%;
// 	-webkit-mask: url("../assets/img/mask-w.png");
// 	-webkit-mask-size: 3000% 100%;
// 	-webkit-mask-position: 0% 50%;
// }

// html.loading.out.cssmask #loader_full {
// 	animation: mask 1s steps(29) 1 forwards;
// }

// html.loading.in.cssmask #loader_full {
// 	animation: mask 1s steps(29) 1 reverse;
// }

// .loader_in {
// 	display: block;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 100%;
// 	height: 100%;
// 	pointer-events: none;
// }

// #loader {
// 	display: block;
// 	width: 0;
// 	height: 0;
// }
</style>

