<template>
  <section id="initial" class="md-layout height-100vh initial">
      <div class="md-layout-item nav-container md-size-20 md-small-size-50 height-100vh lateral">
        <!-- <keep-alive>
          <transition name="component-fade" mode="out-in">
            <component :is="AsyncLoginCad" :AsyncLoginCad="AsyncLoginCad" @interface="AsyncLoginCad = $event"></component>
          </transition>
        </keep-alive> -->
        <Lateral/>
      </div>
      <div class="md-layout-item height-100vh">
        <Header/>
        <Perfil/>
      </div>
  </section>
</template>
<script>
  import Vue from 'vue'

  import VueMaterial from 'vue-material'
  import 'vue-material/dist/vue-material.min.css'
  import 'vue-material/dist/theme/default-dark.css'

  import Header from '~/components/Header.vue'
  import Lateral from '~/components/Lateral.vue'
  import Perfil from '~/components/Perfil.vue'

  Vue.use(VueMaterial)
  export default {
    data: () => ({
    }),
    components: {
      Header,
      Lateral,
      Perfil
    },
  methods:{
    // handleFcAfterDateBack (event) {
    //   console.log('data after child handle: ', event) // get the data after child dealing
    // },
    handleScroll: function (e) {
        var currentScrollPos = window.scrollY;
        if (currentScrollPos < this.scrollPosition) {
          document.getElementById("navbar").style.top = "0";
        } else {
          document.getElementById("navbar").style.top = "-150px";
        }
        this.scrollPosition = currentScrollPos;
      }
    },
    mounted: function () {
        window.addEventListener('scroll', this.handleScroll);
        console.log(this.$route.path);
        if(this.$route.path == "/Devocional"){

        }
        // console.log(window.user);
    },
    destroyed: function () {
        window.removeEventListener('scroll', this.handleScroll);
    }
    // beforeRouteEnter (to, from, next) {
    //     const currentUser = firebase.auth().currentUser;
    //     console.log(currentUser);
    //     if(currentUser == null){
    //         next("/");
    //     }
    // },
    // computed: {
    //  ...mapGetters([
    //   'user'
    // ])
    // },
  }
</script>
<style lang="scss">
.lateral{
    height: 100vh !important;
    @include d(m){
      position: fixed;
      z-index: 51;
      height: 100vh !important;
    }
    @include d(s){
      position: fixed;
      z-index: 51;
      height: 100vh !important;
    }
    @include d(xs){
      position: fixed;
      z-index: 51;
      height: 100vh !important;
    }
}
</style>
